spring:
  application:
    name: service-registry

server:
  port: ${PORT:8761}

eureka:
  instance:
    hostname: ${RAILWAY_PUBLIC_DOMAIN}
    prefer-ip-address: false
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: https://${RAILWAY_PUBLIC_DOMAIN}/eureka/



